body{
    padding: 0;
    margin: 0;
}

body a{
    text-decoration: none;
    color: white;
}

body a:visited{
    text-decoration: none;
    color: white;
}

#left{
    width: 32%;
    height: 115em;
    background-color: #292929;
    float: left;
    color: white;
}

#right{
    width: 68%;
    height: 115em;
    background-color: #4f4f4f;
    float: right;
}

#left .sha_img{
    position: relative;
    width: 75%;
    height: 33em;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background-image: url("me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#left .sha_info{
    position: relative;
    width: 70%;
    height: 65%;
    margin: 0 auto;
    margin-top: 10px;
    /* border: 2px solid white; */
    text-align: right;
}

#left .sha_info p{
    line-height: 15px;
}


/* social handle */
#left .social_handle{
    width: 100%;
    height: 160px;
    /* border: 2px solid white; */
    margin: 40px auto;
}


/* instagram and behance */
#left .social_handle .one{
    height: 50px;
    width: 100%;
}

#left .social_handle .one svg, #left .social_handle .three svg{
    position: relative;
    top: 10px;
    right: 4em;
}

#left .social_handle .one p, #left .social_handle .three p{
    position: relative;
    float:right;
}



/* twitter */
#left .social_handle .two{
    height: 50px;
    width: 100%;
}

#left .social_handle .two svg{
    position: relative;
    top: 10px;
    right: 5.7em;
}

#left .social_handle .two p{
    position: relative;
    float:right;
}

#left .phoneNumber{
    height: 37px;
    width: 100%;
    /* border: 2px solid white; */
    margin-top: 6px;
}

#left .phoneNumber p{
    position: relative;
    bottom: 4px;
}

/* skills */
#left .skills{
    width: 100%;
    height: 420px;
    /* border: 2px solid white; */
    text-transform: uppercase;
    margin-top: 40px;
}

#left .skills .skills_subdiv{
    width: 98%;
    height: 81%;
    /* border: 2px solid white; */
    float: right;
}

#left .skills .skills_subdiv {
    text-align: left;
}

#left .skills .skills_subdiv .two{
    text-align: center;
}

#left .skills_subdiv h3{
    font-size: 22px;
    margin-top: 7px;
}
#left .skills_subdiv svg{
    margin-top: 5px;
}



/*  id illustrator */
#left #illustrator{
    width:100%;
    height:37px;
    /* border: 2px solid blue; */
}

#left #illustrator .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}


#left #illustrator .two{
    width: 45%;
    height:37px;
    float: right;
}


/* id indesign */
#left #indesign{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #indesign .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #indesign .two{
    width: 45%;
    height:37px;
    float: right;
}

/* id procreate */
#left #procreate{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #procreate .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #procreate .two{
    width: 45%;
    height:37px;
    float: right;
}

/* id photoshop */
#left #photoshop{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #photoshop .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #photoshop .two{
    width: 45%;
    height:37px;
    float: right;
}

/* premiere */
#left #premiere{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #premiere .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #premiere .two{
    width: 45%;
    height:37px;
    float: right;
}

/* id lightroom */
#left #lightroom{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #lightroom .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #lightroom .two{
    width: 45%;
    height:37px;
    float: right;
}

/* id aftereffects */
#left #afterEffects{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #afterEffects .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #afterEffects .two{
    width: 45%;
    height:37px;
    float: right;
}

/* id figma */
#left #figma{
    width:100%;
    height:37px;
    /* border: 3px solid blue; */
}

#left #figma .one{
    width: 55%;
    height:37px;
    /* background-color: red; */
    float: left;
}

#left #figma .two{
    width: 45%;
    height:37px;
    float: right;
}



#left .interests{
    height: 389px;
    width: 100%;
    /* border: 2px solid red; */
    text-transform: uppercase;
}

#left .interests p{
    font-size: 18px;
    line-height: 14px;
}








/* right side */
#right {
    color: white;
}

#right .name{
    width: auto;
    height: 200px;
    background-color: #8c8c8c;
    text-align: center;
    margin-top: 39px;
}

#right .name span {
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}


#right .name p{
    font-size: 27px;
    font-family: 'Merriweather', serif;
}


#right .stuff{
    width: auto;
    height: 91em;
    /* border: 2px solid red; */
}

#right .about{
    padding: 20px;
    margin-top: 20px;
}

#right .about h1{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 10px;
}

#right .about p{
    font-size: 25px;
    padding-top: 10px;
    text-align: justify;
}


#right .education{
    padding: 5px 20px;
    /* margin-top: 5px; */
}

#right .education h1{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 5px;
}


#right .education p{
    font-size: 25px;
    padding-top: 10px;
    text-align: justify;
}

#right .education span{
    line-height: 40px;
}



/* portfolio link */
#right .port_link{
    padding: 10 20px;
    margin-top: 10px;
    padding-bottom: 40px;
}

#right .port_link h1{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 30px;
}


#right .port_link a{
    font-size: 22px;
}



/* work experience */

#right .work_ex{
    padding: 0 20px;
    margin-top: 0px;
}


#right .work_ex p{
    font-size: 22px;
}


#right .work_ex span{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 5px;
}

#right .work_ex h1{
    font-size: 40px;
}